* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
body{
  background-color: #101010;
}
.navbar{
  position: fixed;
  font-size: large;
  font-weight: 1000;
  width: 100%;
  margin-top: 20px;
  height: 100px;
  transition: all 0.7s;
}

.follow{
  background-color:transparent;
  width: 50px;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  padding-right: 5vw;
  align-items: flex-end;
  bottom: 250;
  right: 50;
  white-space: nowrap;
  transform-origin: 100% 0;
  transform: rotate(90deg);
  position: fixed;
}
.pointer{
  width: 30px;
  height: 30px;
  /*margin: -15px 15px -15px -15px;*/
  margin-top: -15px;
  margin-left: -15px;

  position: absolute;
  border-radius: 30px;
  background-color: rgba(42, 172, 201,.7);
    -webkit-transition: transform .7s cubic-bezier(.02,1.2,.8,1);
    transition: transform .7s cubic-bezier(.02,1.2,.8,1);
    pointer-events: none;
}
.follow-icon{
  width: 25px;
  height: 25px;
  font-size: 18px;
  border-radius: 50px;
  align-items: flex-end;
  bottom: 150;
  right: 3.5vw;
  white-space: nowrap;
  position: fixed;
}

.follow-icon:hover{
  background-color: rgb(42, 172, 201);
}


.mail{
  width: 50px;
  color:grey;
  padding-right: 75px;
  align-items: flex-end;
  bottom: 50;
  left: 50;
  white-space: nowrap;
  position: fixed;
}
.follow::after{
  content: '';
  width: 50px;
  position: absolute;
  height: 1px;
  top: 50%;
  right: -74;
  background: #fff;
}

.navbar-scrolled{
  transition: all 0.7s;
  background-color:#101010;
  margin-top: 0px;
}
.navbar div span{
  float: right;
  height: 40px;
  width: auto;
  margin-left: 50px;
  overflow: hidden;
  align-items: bottom;
  color: grey;
  overflow: hidden;
}
.navbar div span a{
  color: grey;
}
.navbar div span a:hover{
  text-decoration: none;
}
.navbar div span div{
  position: relative;
  height: 100px;
  width: auto;
  transition: all 0.6s;
}
.navbar div span div:hover{
 margin-top: -52px;
 color: white;
}



.container{
  background-color: #101010;
  height: auto;
  width: 60vw;
  padding: 0;
  /*margin-bottom: 10vw;*/
  color: #ccc;
}
.resume{
  overflow: hidden;
  border:  rgba(255,255,255,.07) solid 1px;
}
.resume .image{
  height: 12vw;
  width: 10vw;
  margin-top: 5vw;
  margin-left: 5vw;
  float: left;
  
}
.description{
  float: left;
  width: 70%;
  font-size: 1rem;
  padding-left: 5vw;
  padding-top: 5vw;
}
.container ul{
  list-style: none;
  display: block;
  float: none;
}
.container ul li{
  width: 48%;
  display: inline-block;
}
h1{
  font-size: 3.5vw;
}
strong{
  color:rgb(42, 172, 201);
}

.education{
  overflow: hidden;
  border:  rgba(255,255,255,.07) solid 1px; 
}
.education h1{
  padding: 2vw 0 0 2vw;
}
.graduation{
  height: auto;
  width: 30vw;
  margin: 0 auto 5vw auto;
  float: center;
  font-size: 1.5vw;
  border: rgba(255,255,255,.07) solid 1px; 
  padding: 1vw;
}
.middle{
  width: 40vw;
  height: 8vw;
  margin: auto;
  border-left:  rgba(255,255,255,.07) solid 1px; 
  border-right:  rgba(255,255,255,.07) solid 1px; 
}

.planguage{
  position: relative;
  height: 7vw;
  width: 33vw;
  margin: 0 auto 0 auto;
  padding: 1vw;
}
.planguage h3 .cplusplus{
  margin-left: 15vw;
}
.planguage h3 .java{
  margin-left: 12vw;
}
.planguage h3 .htmlcss{
  margin-left: 8vw;
}
.planguage h3 .javascript{
  margin-left: 5vw;
}

.l1{
  width: 24vw;
}
.l2{
  width: 21vw;
}
.l3{
  width: 23vw;
}
.l4{
  width: 18vw;
}
.line{
  height: 0.3vw;
  width: 30vw;
  background-color: grey;
}
.overline{
  height: 0.3vw;
  margin-top: -.3vw;
  background-color: rgb(42, 172, 201);
}
.desc{
  position: absolute; 
  left: 20vw;
  bottom: 7vw; 
  font-size: 20px; 
  font-weight: 100;
  width: 60vw;
  text-align: left;
}
.coding{
  width: 60vw;
  overflow: hidden;
  margin: 0 auto 5vw auto;
  border: rgba(255,255,255,.07) solid 1px; 
  padding: 4vw;
}
  
.circle{
  position: relative;
  background-color: rgb(42, 172, 201);
  width: 1.1vw;
  margin: 1vw 1vw;
  height: 1.1vw;
  float: left;
  border-radius: 1.1vw; 
}
.circlegrey{
  position: relative;
  background-color: grey;
  width: 1.1vw;
  margin: 1vw 1vw;
  height: 1.1vw;
  float: left;
  border-radius: 15px; 
}
.language{
  position: relative;
  height: 7vw;
  width: 33vw;
  margin: 0 auto 2vw auto;
  padding: 1vw;
}

.hobbie1{
  height: auto;
  width: 25vw;
  float: left;
  margin: 0 0vw 0 0;
  text-align: center;
  padding: 0 1vw 1vw 1vw;
  border: rgba(255,255,255,.07) solid 1px; 
}

.hobbie2{
  height: auto;
  width: 25vw;
  float: right;
  text-align: center;
  margin: 0 0 5vw 0;
  padding: 0 1vw 1vw 1vw;
  border: rgba(255,255,255,.07) solid 1px; 
}

.hobbie3{
  height: auto;
  width: 25vw;
  float: left;
  clear: both;
  text-align: center;
  margin: 0 0 0vw 0;
  padding: 0 1vw 1vw 1vw;
  border: rgba(255,255,255,.07) solid 1px; 
}

.hobbie4{
  height: auto;
  width: 25vw;
  float: right;
  margin: 0 0 0vw 0;
  text-align: center;
  padding: 0 1vw 1vw 1vw;
  border: rgba(255,255,255,.07) solid 1px; 
}

.coding .image{
  height: 3vw;
  width: 3vw;
  background-repeat: round;
  margin: 1vw auto;
  
}

h3{
  font-size: 2.5vw;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}*/


.containero {
  background-image: url(../images/test.jpg);
  background-repeat: round; 
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360px) and (max-width: 1000px){
  .desc{
    position: absolute; 
    left: 8vw;
    bottom: 8vw; 
    font-size: 15px; 
    width: 60vw;
    text-align: left;
  }
  .description{
    width: auto;
    font-size: 4vw;
    padding-left: 0vw;
    padding-top: 5vw;
    text-align: center;
  }
  .hide{
    visibility: hidden;
  }
  .navbar div span{
    margin-left: 0px;
  }
  .containero{
    background-image: url(../images/test.jpg);
  }
  .navbar{
    position: fixed;
    font-size: large;
    font-weight: 1000;
    width: 100%;
    margin-top: 0px;
    height: 100px;
    transition: all 0.7s;
  }
  .education h1{
    font-size: 6vw;
  }
  .graduation{
    text-align: center;
    font-size: 3vw;
  }

  .planguage h3{
    font-size: 3vw;
  }
  .planguage{
    position: relative;
    height: 7vw;
    width: auto;
    margin: 0 auto 0 auto;
    padding: 1vw;
  }

  .language h3{
    font-size: 4.5vw;
  }
  .line{
    height: 0.6vw;
    width: auto;
    background-color: grey;
  }
  .overline{
    height: 0.6vw;
    margin-top: -0.6vw;
    background-color: rgb(42, 172, 201);
  }
  
  
.planguage h3 .cplusplus{
  margin-left: 30vw;
}
.planguage h3 .java{
  margin-left: 26vw;
}
.planguage h3 .htmlcss{
  margin-left: 18vw;
}
.planguage h3 .javascript{
  margin-left: 15vw;
}

.l1{
  width: 40vw;
}
.l2{
  width: 35vw;
}
.l3{
  width: 36vw;
}
.l4{
  width: 32vw;
}



  
.circle{
  position: relative;
  background-color: rgb(42, 172, 201);
  width: 10px;
  margin: 1vw 1vw;
  height: 10px;
  float: left;
  border-radius: 10 px;
  -webkit-border-radius :10px;
}
.circlegrey{
  position: relative;
  background-color: grey;
  width: 10px;
  margin: 1vw 1vw;
  height: 10px;
  float: left;
  border-radius: 10px; 
}

.language{
  width: auto;
}
  .container ul{
    text-align: center;
    font-size: 10px;
    padding-left: 5vw;
    font-size: 3vw;
  }
  .resume .image{
    height: 30vw;
    width: 25vw;
    margin: 5vw auto 0 auto;
    float: none;
  }
  .hobbie-sm{
    height: auto;
    font-size: 2.5vw;
    width: 35vw;;
    text-align: center;
    margin: 0 0 5vw 0;
    border: rgba(255,255,255,.07) solid 1px; 
    float: none;
    position: relative;
    margin: 0 auto 5vw auto;
    padding: 1vw;
  }
  .hobbie-sm h3{
    font-size: 3vw;
  }
  .resume{
    text-align: center;
  }
  .container ul li{
    display: list-item;
    width: 50vw;
  }
  
}


.containero p {
  font-size: 6vw;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.containero p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.containero p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
